<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title><%=__('title')%></title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C500%2C600%2C700%2C800%7CRoboto%3A400%2C700%7CPlayfair+Display%7CRaleway%7CSpectral%7CRubik">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="../../assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="../../assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="../../assets/vendor/chosen/chosen.css">
    <link rel="stylesheet" href="../../assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="../../assets/vendor/animate.css">
    <link rel="stylesheet" href="../../assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="../../assets/vendor/master-slider/source/assets/css/masterslider.main.css">
    <link  rel="stylesheet" href="../../assets/vendor/fancybox/jquery.fancybox.min.css">

    <!-- CSS form -->
    <link rel="stylesheet" href="assets/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="assets/skyforms/custom/custom-sky-forms.css">

    <!-- CSS Template -->
    <link rel="stylesheet" href="assets/css/styles.op-travel.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="../../assets/css/custom.css">
</head>

<body>
    <main>
        <!-- Header v1 -->
        <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance" data-header-fix-moment="1">
            <div class="u-header__section g-transition-0_3 g-py-12" data-header-fix-moment-exclude="g-py-12" data-header-fix-moment-classes="g-theme-bg-black-v1-opacity-0_8 g-py-7">
                <nav class="navbar navbar-expand-lg g-py-0">
                    <div class="container g-pos-rel">
                        <!-- Logo -->
                        <a href="#!" class="js-go-to navbar-brand u-header__logo" data-type="static">
                <img class="u-header__logo-img u-header__logo-img--main g-width-130" src="assets/img/logo.png" alt="Image description">
              </a>
                        <!-- End Logo -->

                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
                            <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 g-pt-20 g-pt-0--lg ml-auto">
                                <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg active">
                                    <a href="#masterslider" class="nav-link p-0"><%=__('menu1')%><span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="#intro" class="nav-link p-0"><%=__('menu2')%></a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="#apartments" class="nav-link p-0"><%=__('menu3')%></a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="#gallery" class="nav-link p-0"><%=__('menu4')%></a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="#contact" class="nav-link p-0"><%=__('menu5')%></a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="/<%=__('menu6')%>" class="nav-link p-0"><%=__('menu6')%></a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Navigation -->

                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-20 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
              </button>
                        <!-- End Responsive Toggle Button -->
                    </div>
                </nav>
            </div>
        </header>
        <!-- End Header v1 -->

        <!-- Main Slider -->
        <div class="master-slider" id="masterslider">

            <div class="ms-slide">
                <img src="assets/img/blank.gif" alt="Image description" data-src="assets/img/palazzo/pic1.jpg">

                <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10" data-type="text" data-delay="10" data-effect="skewright(50, 340)" data-ease="easeOutExpo" data-duration="2200">Palazzo Alfeo, Welcome</h3>

                <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550" data-type="text" data-delay="30" data-effect="rotate3dbottom(100, 0, 0, 70)" data-ease="easeOutExpo" data-duration="2300">
                    <p class="g-mb-20 g-font-size-default g-font-size-18--md g-color-white-opacity-0_8">A very worm welcome at Palazzo Alfeo official website.</p>
                    <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
                </div>

                <img class="ms-thumb" src="assets/img/palazzo/pic1.jpg" alt="Image description">
            </div>

            <div class="ms-slide">
                <img src="assets/img/blank.gif" alt="Image description" data-src="assets/img-temp/1920x1280/img1.jpg">

                <div class="ms-layer u-ribbon-v1 text-uppercase g-pos-rel g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-size-18--md g-color-white g-theme-bg-black-v1 g-pa-10 g-mb-10" data-type="text" data-delay="10" data-effect="skewleft(50, 340)" data-ease="easeOutExpo"
                    data-duration="2200">optional info here
                    <span class="g-color-primary">other</span></div>

                <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10" data-type="text" data-delay="10" data-effect="skewright(50, 340)" data-ease="easeOutExpo" data-duration="2200">Siracusa, Marina</h3>

                <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550" data-type="text" data-delay="30" data-effect="rotate3dbottom(100, 0, 0, 70)" data-ease="easeOutExpo" data-duration="2300">
                    <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">Have the most amazing experience in the ancient city of Siracusa</p>
                    <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
                </div>

                <img class="ms-thumb" src="assets/img-temp/200x133/img1.jpg" alt="Image description">
            </div>

            <div class="ms-slide">
                <img src="assets/img/blank.gif" alt="Image description" data-src="assets/img-temp/1920x1280/img10.jpg">

                <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10" data-type="text" data-delay="10" data-effect="skewright(50, 340)" data-ease="easeOutExpo" data-duration="2200">Siracusa, Pic</h3>

                <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550" data-type="text" data-delay="30" data-effect="rotate3dbottom(100, 0, 0, 70)" data-ease="easeOutExpo" data-duration="2300">
                    <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">Donec erat urna, tincidunt at leo non, blandit finibus ante. Nunc venenatis risus in finibus dapibus. Ut ac massa sodales, mattis enim id, efficitur tortor.</p>
                    <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
                </div>

                <img class="ms-thumb" src="assets/img-temp/200x133/img10.jpg" alt="Image description">
            </div>

            <div class="ms-slide">
                <img src="assets/img/blank.gif" alt="Image description" data-src="assets/img-temp/1920x1280/img10.jpg">

                <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10" data-type="text" data-delay="10" data-effect="skewright(50, 340)" data-ease="easeOutExpo" data-duration="2200">Siracusa, Pic</h3>

                <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550" data-type="text" data-delay="30" data-effect="rotate3dbottom(100, 0, 0, 70)" data-ease="easeOutExpo" data-duration="2300">
                    <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">Donec erat urna, tincidunt at leo non, blandit finibus ante. Nunc venenatis risus in finibus dapibus. Ut ac massa sodales, mattis enim id, efficitur tortor.</p>
                    <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
                </div>

                <img class="ms-thumb" src="assets/img-temp/200x133/img10.jpg" alt="Image description">
            </div>

            <div class="ms-slide">
                <img src="assets/img/blank.gif" alt="Image description" data-src="assets/img-temp/1920x1280/img10.jpg">

                <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10" data-type="text" data-delay="10" data-effect="skewright(50, 340)" data-ease="easeOutExpo" data-duration="2200">Siracusa, Pic</h3>

                <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550" data-type="text" data-delay="30" data-effect="rotate3dbottom(100, 0, 0, 70)" data-ease="easeOutExpo" data-duration="2300">
                    <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">Donec erat urna, tincidunt at leo non, blandit finibus ante. Nunc venenatis risus in finibus dapibus. Ut ac massa sodales, mattis enim id, efficitur tortor.</p>
                    <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
                </div>

                <img class="ms-thumb" src="assets/img-temp/200x133/img10.jpg" alt="Image description">
            </div>

            <div class="ms-slide">
                <img src="assets/img/blank.gif" alt="Image description" data-src="assets/img-temp/1920x1280/img10.jpg">

                <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10" data-type="text" data-delay="10" data-effect="skewright(50, 340)" data-ease="easeOutExpo" data-duration="2200">Siracusa, Pic</h3>

                <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550" data-type="text" data-delay="30" data-effect="rotate3dbottom(100, 0, 0, 70)" data-ease="easeOutExpo" data-duration="2300">
                    <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">Donec erat urna, tincidunt at leo non, blandit finibus ante. Nunc venenatis risus in finibus dapibus. Ut ac massa sodales, mattis enim id, efficitur tortor.</p>
                    <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
                </div>

                <img class="ms-thumb" src="assets/img-temp/200x133/img10.jpg" alt="Image description">
            </div>

            <div class="ms-slide">
                <img src="assets/img/blank.gif" alt="Image description" data-src="assets/img-temp/1920x1280/img10.jpg">

                <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10" data-type="text" data-delay="10" data-effect="skewright(50, 340)" data-ease="easeOutExpo" data-duration="2200">Siracusa, Pic</h3>

                <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550" data-type="text" data-delay="30" data-effect="rotate3dbottom(100, 0, 0, 70)" data-ease="easeOutExpo" data-duration="2300">
                    <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">Donec erat urna, tincidunt at leo non, blandit finibus ante. Nunc venenatis risus in finibus dapibus. Ut ac massa sodales, mattis enim id, efficitur tortor.</p>
                    <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
                </div>

                <img class="ms-thumb" src="assets/img-temp/200x133/img10.jpg" alt="Image description">
            </div>

            <div class="ms-slide">
                <img src="assets/img/blank.gif" alt="Image description" data-src="assets/img-temp/1920x1280/img10.jpg">

                <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10" data-type="text" data-delay="10" data-effect="skewright(50, 340)" data-ease="easeOutExpo" data-duration="2200">Siracusa, Pic</h3>

                <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550" data-type="text" data-delay="30" data-effect="rotate3dbottom(100, 0, 0, 70)" data-ease="easeOutExpo" data-duration="2300">
                    <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">Donec erat urna, tincidunt at leo non, blandit finibus ante. Nunc venenatis risus in finibus dapibus. Ut ac massa sodales, mattis enim id, efficitur tortor.</p>
                    <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
                </div>

                <img class="ms-thumb" src="assets/img-temp/200x133/img10.jpg" alt="Image description">
            </div>
        </div>
        <!-- End Main Slider -->

        <!-- Section Content -->
        <section id="intro" class="g-pt-90">
          <div class="container g-max-width-780 text-center g-mb-50">
              <div class="u-heading-v8-2 g-mb-40">
                  <h2 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
                      <strong class="h6 d-inline-block g-theme-bg-black-v1 g-color-white g-mb-20">What is Palazzo Alfeo?</strong>
                      <br><span class="g-color-primary">Awesome</span> Residence
                  </h2>
              </div>

              <p class="mb-0">Awesome apartments in a beautiful City. We offer six amazing apartments. Your holiday is backed-up by our amazing staff, ready to welcome you.
                Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel
                  odio.</p>
          </div>
        </section>
        <!-- End Section Content -->

        <!-- Section Content -->
        <section id="apartments" class="row no-gutters">
            <div class="col-lg-3 text-center g-bg-primary g-py-30 g-px-10">
                <div class="u-heading-v8-2 g-mb-30">
                    <h2 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
                        <strong class="h6 d-inline-block g-theme-bg-black-v1 g-color-white g-mb-20">Our Apartments</strong>
                        <br><span class="g-color-white">What We</span> Offer
                    </h2>
                </div>

                <p class="g-color-white-opacity-0_8 g-px-30 mb-0">
                  Donec eleifend mauris eu leo varius consectetur. Aliquam luctus a lorem ac rutrum. Cras in nulla id mi ornare vestibulum. Donec et magna nulla. Pellentesque ut ipsum id nibh pretium blandit quis ac erat.</p>
            </div>

            <div class="col-lg-9">
                <div class="js-carousel u-carousel-v5" data-infinite="true" data-slides-scroll="true" data-slides-show="3" data-arrows-classes="u-arrow-v1 g-pos-abs g-top-100 g-width-45 g-height-45 g-font-size-default g-color-white g-bg-primary g-theme-bg-black-v1--hover"
                    data-arrow-left-classes="fa fa-chevron-left g-left-0" data-arrow-right-classes="fa fa-chevron-right g-right-0" data-responsive='[{
                 "breakpoint": 1200,
                 "settings": {
                   "slidesToShow": 2
                 }
               }, {
                 "breakpoint": 768,
                 "settings": {
                   "slidesToShow": 1
                 }
               }]'>

                    <div class="js-slide">
                        <article class="u-shadow-v26 g-parent g-theme-bg-black-v1 g-bg-primary--hover g-transition-0_2 g-transition--ease-in">
                            <div class="u-bg-overlay g-bg-black-opacity-0_1--after">
                                <img class="img-fluid w-100" src="assets/img/palazzo/apart_2.jpg" alt="Image description">
                            </div>

                            <!-- Article Content -->
                            <div class="g-pa-25 text-center">

                                <!-- Article Title -->
                                <h3 class="text-uppercase g-font-weight-700 g-font-size-16 g-mb-20">
                                    <a class="g-text-underline--none--hover g-font-secondary g-color-white" href="#!">Aretusa</a>
                                </h3>
                                <!-- End Article Title -->
                                <p class="g-color-white-opacity-0_8 g-mb-25">First floor apartment and more info. Cras sit amet varius velit. Maecenas porta condimentum tortor at sagittis. Cum sociis natoque penatibus et magnis dis</p>

                                <!-- Article Icons -->
                                <div class="g-overflow-hidden g-mb-15">
                                    <ul class="list-inline text-center g-font-size-12 g-color-white g-brd-top g-brd-bottom g-brd-gray-light-v3 g-mx-minus-25">
                                        <li class="list-inline-item g-width-30x g-pa-12-5-7 mx-0 g-my-5">
                                            <i class="icon-hotel-restaurant-022 align-middle u-line-icon-pro g-font-size-18 g-mr-5"></i> 4
                                        </li>
                                        <li class="list-inline-item g-width-30x g-brd-left g-brd-gray-light-v3 g-pa-12-5-7 mx-0 g-my-5">
                                            <i class="icon-hotel-restaurant-158 align-middle u-line-icon-pro g-font-size-18 g-mr-5"></i> 2
                                        </li>
                                        <li class="list-inline-item g-width-30x g-brd-left g-brd-gray-light-v3 g-pa-12-5-7 mx-0 g-my-5">
                                            <i class="icon-real-estate-017 align-middle u-line-icon-pro g-font-size-18 g-mr-5"></i> 130 sqft
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Article Icons -->

                                <!--
                     <p class="g-color-white-opacity-0_8 g-mb-25">And if you want to know more....</p>
                     <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-theme-bg-black-v1--parent-hover rounded-0 g-py-10 g-px-25" href="#!">This One</a>
                     -->
                            </div>
                            <!-- End Article Content -->


                        </article>
                    </div>

                    <div class="js-slide">
                        <article class="u-shadow-v26 g-parent g-theme-bg-black-v1 g-bg-primary--hover g-transition-0_2 g-transition--ease-in">
                            <div class="u-bg-overlay g-bg-black-opacity-0_1--after">
                                <img class="img-fluid w-100" src="assets/img/palazzo/apart_1.jpg" alt="Image description">
                            </div>

                            <!-- Article Content -->
                            <div class="g-pa-25 text-center">

                                <!-- Article Title -->
                                <h3 class="text-uppercase g-font-weight-700 g-font-size-16 g-mb-20">
                                    <a class="g-text-underline--none--hover g-font-secondary g-color-white" href="#!">Alfeo</a>
                                </h3>
                                <!-- End Article Title -->
                                <p class="g-color-white-opacity-0_8 g-mb-25">First floor apartment and more info. Cras sit amet varius velit. Maecenas porta condimentum tortor at sagittis. Cum sociis natoque penatibus et magnis dis</p>

                                <!-- Article Icons -->
                                <div class="g-overflow-hidden g-mb-15">
                                    <ul class="list-inline text-center g-font-size-12 g-color-white g-brd-top g-brd-bottom g-brd-gray-light-v3 g-mx-minus-25">
                                        <li class="list-inline-item g-width-30x g-pa-12-5-7 mx-0 g-my-5">
                                            <i class="icon-hotel-restaurant-022 align-middle u-line-icon-pro g-font-size-18 g-mr-5"></i> 4
                                        </li>
                                        <li class="list-inline-item g-width-30x g-brd-left g-brd-gray-light-v3 g-pa-12-5-7 mx-0 g-my-5">
                                            <i class="icon-hotel-restaurant-158 align-middle u-line-icon-pro g-font-size-18 g-mr-5"></i> 2
                                        </li>
                                        <li class="list-inline-item g-width-30x g-brd-left g-brd-gray-light-v3 g-pa-12-5-7 mx-0 g-my-5">
                                            <i class="icon-real-estate-017 align-middle u-line-icon-pro g-font-size-18 g-mr-5"></i> 130 sqft
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Article Icons -->

                                <!--
                  <p class="g-color-white-opacity-0_8 g-mb-25">And if you want to know more....</p>
                  <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-theme-bg-black-v1--parent-hover rounded-0 g-py-10 g-px-25" href="#!">This One</a>
                  -->
                            </div>
                            <!-- End Article Content -->


                        </article>
                    </div>

                    <div class="js-slide">
                        <article class="u-shadow-v26 g-parent g-theme-bg-black-v1 g-bg-primary--hover g-transition-0_2 g-transition--ease-in">
                            <div class="u-bg-overlay g-bg-black-opacity-0_1--after">
                                <img class="img-fluid w-100" src="assets/img/palazzo/apart_2.jpg" alt="Image description">
                            </div>

                            <!-- Article Content -->
                            <div class="g-pa-25 text-center">

                                <!-- Article Title -->
                                <h3 class="text-uppercase g-font-weight-700 g-font-size-16 g-mb-20">
                                    <a class="g-text-underline--none--hover g-font-secondary g-color-white" href="#!">Aretusa</a>
                                </h3>
                                <!-- End Article Title -->
                                <p class="g-color-white-opacity-0_8 g-mb-25">First floor apartment and more info. Cras sit amet varius velit. Maecenas porta condimentum tortor at sagittis. Cum sociis natoque penatibus et magnis dis</p>

                                <!-- Article Icons -->
                                <div class="g-overflow-hidden g-mb-15">
                                    <ul class="list-inline text-center g-font-size-12 g-color-white g-brd-top g-brd-bottom g-brd-gray-light-v3 g-mx-minus-25">
                                        <li class="list-inline-item g-width-30x g-pa-12-5-7 mx-0 g-my-5">
                                            <i class="icon-hotel-restaurant-022 align-middle u-line-icon-pro g-font-size-18 g-mr-5"></i> 4
                                        </li>
                                        <li class="list-inline-item g-width-30x g-brd-left g-brd-gray-light-v3 g-pa-12-5-7 mx-0 g-my-5">
                                            <i class="icon-hotel-restaurant-158 align-middle u-line-icon-pro g-font-size-18 g-mr-5"></i> 2
                                        </li>
                                        <li class="list-inline-item g-width-30x g-brd-left g-brd-gray-light-v3 g-pa-12-5-7 mx-0 g-my-5">
                                            <i class="icon-real-estate-017 align-middle u-line-icon-pro g-font-size-18 g-mr-5"></i> 130 sqft
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Article Icons -->

                                <!--
                     <p class="g-color-white-opacity-0_8 g-mb-25">And if you want to know more....</p>
                     <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-theme-bg-black-v1--parent-hover rounded-0 g-py-10 g-px-25" href="#!">This One</a>
                     -->
                            </div>
                            <!-- End Article Content -->


                        </article>
                    </div>

                    <div class="js-slide">
                        <article class="u-shadow-v26 g-parent g-theme-bg-black-v1 g-bg-primary--hover g-transition-0_2 g-transition--ease-in">
                            <div class="u-bg-overlay g-bg-black-opacity-0_1--after">
                                <img class="img-fluid w-100" src="assets/img/palazzo/apart_1.jpg" alt="Image description">
                            </div>

                            <!-- Article Content -->
                            <div class="g-pa-25 text-center">

                                <!-- Article Title -->
                                <h3 class="text-uppercase g-font-weight-700 g-font-size-16 g-mb-20">
                                    <a class="g-text-underline--none--hover g-font-secondary g-color-white" href="#!">Alfeo</a>
                                </h3>
                                <!-- End Article Title -->
                                <p class="g-color-white-opacity-0_8 g-mb-25">First floor apartment and more info. Cras sit amet varius velit. Maecenas porta condimentum tortor at sagittis. Cum sociis natoque penatibus et magnis dis</p>

                                <!-- Article Icons -->
                                <div class="g-overflow-hidden g-mb-15">
                                    <ul class="list-inline text-center g-font-size-12 g-color-white g-brd-top g-brd-bottom g-brd-gray-light-v3 g-mx-minus-25">
                                        <li class="list-inline-item g-width-30x g-pa-12-5-7 mx-0 g-my-5">
                                            <i class="icon-hotel-restaurant-022 align-middle u-line-icon-pro g-font-size-18 g-mr-5"></i> 4
                                        </li>
                                        <li class="list-inline-item g-width-30x g-brd-left g-brd-gray-light-v3 g-pa-12-5-7 mx-0 g-my-5">
                                            <i class="icon-hotel-restaurant-158 align-middle u-line-icon-pro g-font-size-18 g-mr-5"></i> 2
                                        </li>
                                        <li class="list-inline-item g-width-30x g-brd-left g-brd-gray-light-v3 g-pa-12-5-7 mx-0 g-my-5">
                                            <i class="icon-real-estate-017 align-middle u-line-icon-pro g-font-size-18 g-mr-5"></i> 130 sqft
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Article Icons -->

                                <!--
                  <p class="g-color-white-opacity-0_8 g-mb-25">And if you want to know more....</p>
                  <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-theme-bg-black-v1--parent-hover rounded-0 g-py-10 g-px-25" href="#!">This One</a>
                  -->
                            </div>
                            <!-- End Article Content -->


                        </article>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Section Content -->

        <!-- Section Content -->
        <section id="gallery" class="g-pt-90">
            <div class="container g-max-width-780 text-center g-mb-70">
                <div class="u-heading-v8-2 g-mb-40">
                    <h2 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
                        <strong class="h6 d-inline-block g-theme-bg-black-v1 g-color-white g-mb-20">Our gallery</strong>
                        <br><span class="g-color-primary">Interesting</span> shots
                    </h2>
                </div>

                <p class="mb-0">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel
                    odio.</p>
            </div>

            <!-- Cube Portfolio -->
            <!--<div class="cbp" data-layout="mosaic" data-animation="fadeOutTop" data-caption-animation="zoom" data-x-gap="0" data-y-gap="0" data-media-queries='[
               {"width": 1500, "cols": 5},
               {"width": 1100, "cols": 4},
               {"width": 800, "cols": 3},
               {"width": 480, "cols": 2},
               {"width": 320, "cols": 1}
             ]'>
                <div class="cbp-item">
                    <a class="cbp-caption cbp-lightbox" href="assets/img/palazzo/gallery1200_1.jpg" data-title="View from top floor. Aretusa apartment<br>by Mbare">
                        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
                            <img src="assets/img/palazzo/gallery760_1.jpg" alt="Image description">
                        </div>
                    </a>
                </div>

                <div class="cbp-item">
                    <a class="cbp-caption cbp-lightbox" href="assets/img-temp/1200x675/img2.jpg" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
                        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
                            <img src="assets/img-temp/380x360/img1.jpg" alt="Image description">
                        </div>
                    </a>
                </div>

                <div class="cbp-item">
                    <a class="cbp-caption cbp-lightbox" href="assets/img-temp/1200x675/img3.jpg" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
                        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
                            <img src="assets/img-temp/380x360/img2.jpg" alt="Image description">
                        </div>
                    </a>
                </div>

                <div class="cbp-item">
                    <a class="cbp-caption cbp-lightbox" href="assets/img-temp/1200x675/img4.jpg" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
                        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
                            <img src="assets/img-temp/760x360/img1.jpg" alt="Image description">
                        </div>
                    </a>
                </div>

                <div class="cbp-item">
                    <a class="cbp-caption cbp-lightbox" href="assets/img-temp/1200x675/img5.jpg" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
                        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
                            <img src="assets/img-temp/380x360/img3.jpg" alt="Image description">
                        </div>
                    </a>
                </div>

                <div class="cbp-item">
                    <a class="cbp-caption cbp-lightbox" href="assets/img-temp/1200x675/img6.jpg" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
                        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
                            <img src="assets/img-temp/760x360/img2.jpg" alt="Image description">
                        </div>
                    </a>
                </div>

                <div class="cbp-item">
                    <a class="cbp-caption cbp-lightbox" href="assets/img-temp/1200x675/img7.jpg" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
                        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
                            <img src="assets/img-temp/380x360/img4.jpg" alt="Image description">
                        </div>
                    </a>
                </div>
            </div>

            <div class="cbp-l-loadMore-text"></div>
            <!-- End Cube Portfolio -->

            <div class="row text-center">
              <div class="col-md-4 g-mb-30">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay u-bg-overlay--v1 g-bg-black-opacity-0_5--after" href="../../assets/img-temp/400x270/img8.jpg" title="Lightbox Gallery" data-fancybox-gallery="lightbox-gallery-13-1-hidden">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="../../assets/img-temp/400x270/img8.jpg" alt="Image Description">
                  <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10">
                    Nulla ipsum dolor sit amet
                  </strong>
                </a>

                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img1.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-1-hidden">
                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img2.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-1-hidden">
                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img3.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-1-hidden">
              </div>
              <div class="col-md-4 g-mb-30">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay u-bg-overlay--v1 g-bg-black-opacity-0_5--after" href="../../assets/img-temp/400x270/img4.jpg" title="Lightbox Gallery" data-fancybox-gallery="lightbox-gallery-13-2-hidden">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="../../assets/img-temp/400x270/img4.jpg" alt="Image Description">
                  <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10">
                    Consectetur adipiscing
                  </strong>
                </a>

                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img5.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-2-hidden">
                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img6.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-2-hidden">
                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img7.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-2-hidden">
              </div>
              <div class="col-md-4 g-mb-30">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay u-bg-overlay--v1 g-bg-black-opacity-0_5--after" href="../../assets/img-temp/400x270/img7.jpg" title="Lightbox Gallery" data-fancybox-gallery="lightbox-gallery-13-3-hidden">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="../../assets/img-temp/400x270/img7.jpg" alt="Image Description">
                  <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10">
                    Elitut eleifend nisl
                  </strong>
                </a>

                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img8.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-3-hidden">
                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img9.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-3-hidden">
                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img10.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-3-hidden">
              </div>
              <div class="col-md-4 g-mb-30">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay u-bg-overlay--v1 g-bg-black-opacity-0_5--after" href="../../assets/img-temp/400x270/img1.jpg" title="Lightbox Gallery" data-fancybox-gallery="lightbox-gallery-13-4-hidden">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="../../assets/img-temp/400x270/img1.jpg" alt="Image Description">
                  <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10">
                    In hac habitasse
                  </strong>
                </a>

                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img11.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-4-hidden">
                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img12.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-4-hidden">
                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img13.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-4-hidden">
              </div>
              <div class="col-md-4 g-mb-30">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay u-bg-overlay--v1 g-bg-black-opacity-0_5--after" href="../../assets/img-temp/400x270/img2.jpg" title="Lightbox Gallery" data-fancybox-gallery="lightbox-gallery-13-5-hidden">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="../../assets/img-temp/400x270/img2.jpg" alt="Image Description">
                  <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10">
                    Platea dictumst
                  </strong>
                </a>

                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img1.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-5-hidden">
                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img3.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-5-hidden">
                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img4.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-5-hidden">
              </div>
              <div class="col-md-4 g-mb-30">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay u-bg-overlay--v1 g-bg-black-opacity-0_5--after" href="../../assets/img-temp/400x270/img6.jpg" title="Lightbox Gallery" data-fancybox-gallery="lightbox-gallery-13-6-hidden">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="../../assets/img-temp/400x270/img6.jpg" alt="Image Description">
                  <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10">
                    Curabitur hendrerit
                  </strong>
                </a>

                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img5.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-6-hidden">
                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img7.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-6-hidden">
                <img class="hidden-xs-up" src="../../assets/img-temp/400x270/img8.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-13-6-hidden">
              </div>
            </div>


        </section>
        <!-- End Section Content -->


        <!-- Footer Start -->
        <footer class="text-center">
            <div id="contact" class="container-fluid g-font-weight-500 g-font-size-16 g-color-white-opacity-0_7">
                <div class="row">
                    <div class="col-md-12 col-lg-4 px-0">
                        <!-- Google (Map) [custom] -->
                        <div class="g-pos-rel g-height-680">
                            <div id="gMap1" class="js-g-map g-pos-abs w-100 h-100" data-type="custom" data-lat="37.057774" data-lng="15.293182" data-zoom="12" data-title="Travel" data-styles='[
                         ["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]],
                         ["", "labels", [{"visibility":"on"}]],
                         ["water", "", [{"color":"#bac6cb"}]]
                       ]' data-pin="true" data-pin-icon="assets/img/pin.png"></div>
                        </div>
                        <!-- End Google (Map) [custom] -->
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex g-bg-primary g-pa-40">
                        <div class="align-self-center w-100">
                            <div class="u-heading-v8-2 g-mb-40">
                                <h2 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
                                    <strong class="h6 d-inline-block g-theme-bg-black-v1 g-color-white g-mb-20">Contact Us</strong>
                                    <br><span class="g-color-white">Get in</span> touch
                                </h2>
                            </div>

                            <p class="g-line-height-1_3 g-font-size-16 g-color-white-opacity-0_8 g-mb-45">Aliquam dapibus quis sapien id pharetra. Vivamus iaculis est vitae libero tempus, in sollicitudin est consectetur porttitor iaculis pretium</p>

                            <address class="text-uppercase g-font-size-default g-mb-40">
                  <div class="g-mb-20">
                    Email:
                    <a class="g-color-white" href="mailto:market"><strong>palazzoalfeo@gmail.com</strong></a>
                  </div>

                  <div class="g-mb-20">
                    Phone number:
                    <strong class="g-color-white">+48 555 2566 112</strong>
                  </div>

                  <div>
                    Address:
                    <strong class="g-color-white">In sed lectus tincidunt</strong>
                  </div>
                </address>

                            <ul class="list-inline mb-0">
                                <li class="list-inline-item g-mr-10">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item g-mr-10">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-pinterest"></i></a>
                                </li>
                                <li class="list-inline-item g-mr-10">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex g-theme-bg-black-v1 g-pa-40">
                        <div class="align-self-center w-100">
                            <div class="u-heading-v8-2 g-mb-60">
                                <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-white g-mb-30">
                                    Want to know <span class="g-color-primary">more?</span>
                                </h2>
                            </div>

                            <form method="post" action="/contactForm" id="sky-form3" class="myform">
                              <fieldset>
                                <div class="form-group g-mb-10">
                                    <input class="form-control g-font-size-15 g-font-secondary g-color-white-opacity-0_8 g-placeholder-inherit g-theme-bg-gray-dark-v1 u-shadow-v16 g-brd-none g-rounded-1 g-pa-10" type="text" placeholder="Your name" name="name">
                                </div>

                                <div class="form-group g-mb-10">
                                    <input class="form-control g-font-size-15 g-font-secondary g-color-white-opacity-0_8 g-placeholder-inherit g-theme-bg-gray-dark-v1 u-shadow-v16 g-brd-none g-rounded-1 g-pa-10" type="tel" placeholder="Your phone" name="phone">
                                </div>

                                <div class="form-group g-mb-10">
                                    <input class="form-control g-font-size-15 g-font-secondary g-color-white-opacity-0_8 g-placeholder-inherit g-theme-bg-gray-dark-v1 u-shadow-v16 g-brd-none g-rounded-1 g-pa-10" type="email" placeholder="Your Email" name="mail">
                                </div>

                                <div class="form-group g-mb-40">
                                    <textarea class="form-control g-font-size-15 g-font-secondary g-color-white-opacity-0_8 g-placeholder-inherit g-theme-bg-gray-dark-v1 u-shadow-v16 g-resize-none g-brd-none g-rounded-1 g-pa-10" rows="5" placeholder="Message" name="msg"></textarea>
                                </div>

                                <button class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" type="submit" role="button">Send Message</button>
                              </fieldset>

                                <div class="message">
                                    <i class="rounded-x fa fa-check"></i>
                                    <p>Inviato correttamente!</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="g-color-gray-dark-v2 g-py-40">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-left g-mb-20 g-mb-0--md">
                            <a class="d-inline-block g-width-130 g-opacity-0_5" href="/">
                  <img class="img-fluid" src="assets/img/logo-dark.png" alt="Logo">
                </a>
                        </div>

                        <div class="col-md-6 d-flex align-items-center">
                            <p class="text-center text-md-right w-100 mb-0">
                                &copy; 2018 All right reserved. Developed by
                                <a class="g-color-primary g-color-primary--hover" href="https://www.linkedin.com/in/andreataglia/">Andrea Taglia</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
           "bottom": 15,
           "right": 15
         }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
      </a>
    </main>

    <!-- JS Global Compulsory -->
    <script src="../../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="../../assets/vendor/popper.min.js"></script>
    <script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="../../assets/vendor/appear.js"></script>
    <script src="../../assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="../../assets/vendor/master-slider/source/assets/js/masterslider.min.js"></script>
    <script  src="../../assets/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="../../assets/vendor/gmaps/gmaps.min.js"></script>

    <!-- jQuery UI Core -->
    <script src="../../assets/vendor/jquery-ui/ui/widget.js"></script>
    <script src="../../assets/vendor/jquery-ui/ui/version.js"></script>
    <script src="../../assets/vendor/jquery-ui/ui/keycode.js"></script>
    <script src="../../assets/vendor/jquery-ui/ui/position.js"></script>
    <script src="../../assets/vendor/jquery-ui/ui/unique-id.js"></script>
    <script src="../../assets/vendor/jquery-ui/ui/safe-active-element.js"></script>
    <!-- End jQuery UI Core -->

    <!-- jQuery UI Helpers -->
    <script src="../../assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
    <script src="../../assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>
    <!-- End jQuery UI Helpers -->

    <script src="../../assets/vendor/chosen/chosen.jquery.js"></script>
    <script src="../../assets/vendor/image-select/src/ImageSelect.jquery.js"></script>

    <!-- SkyForm -->
    <script src="assets/skyforms/js/jquery.validate.min.js"></script>
    <script src="assets/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="assets/skyforms/js/jquery-ui.min.js"></script>
    <script src="assets/skyforms/js/jquery.form.min.js"></script>
    <script src="assets/skyforms/js/contact.js"></script>

    <!-- JS Unify -->
    <script src="../../assets/js/hs.core.js"></script>
    <script src="../../assets/js/components/hs.header.js"></script>
    <script src="../../assets/js/helpers/hs.hamburgers.js"></script>
    <script src="../../assets/js/components/hs.scroll-nav.js"></script>
    <script src="../../assets/js/components/hs.datepicker.js"></script>
    <script src="../../assets/js/components/hs.select.js"></script>
    <script src="../../assets/js/components/hs.popup.js"></script>
    <script src="../../assets/js/components/hs.carousel.js"></script>
    <script src="../../assets/js/components/gmap/hs.map.js"></script>
    <script src="../../assets/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="../../assets/js/custom.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        // initialization of master slider
        var promoSlider = new MasterSlider();

        promoSlider.setup('masterslider', {
            width: 1400,
            height: 580,
            speed: 70,
            layout: 'fullscreen',
            loop: true,
            preload: 0,
            autoplay: true
        });

        promoSlider.control('thumblist', {
            autohide: false,
            dir: 'h',
            align: 'bottom',
            width: 200,
            height: 120,
            margin: 0,
            space: 0,
            hideUnder: 767
        });

        // initialization of google map
        function initMap() {
            $.HSCore.components.HSGMap.init('.js-g-map');
        }

        $(document).on('ready', function() {
            // initialization of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');

            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of custom select
            $.HSCore.components.HSSelect.init('.js-custom-select');

            // initialization of go to section
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox');

            // contact form
            ContactForm.initContactForm();
        });

        $(window).on('load', function() {
            // initialization of HSScrollNav
            $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
                duration: 700
            });
        });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async></script>
</body>

</html>
